body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcdd4;
    color: #333;
}


header {
    background-color: #f1989b;
    color: white;
    padding: 20px;
    text-align: center;
}


main {
    padding: 20px;
}


h2 {
    color: #333;
}


.links ul {
    list-style-type: square;
    padding-left: 20px;
}

.links a {
    text-decoration: none;
    color: #ba7b7c;
}

.links a:hover {
    text-decoration: underline;
    color: #ba7b7c;
}

.links {
    border: 2px solid #f1989b; 
    padding: 15px;             
    margin: 20px 0;           
    border-radius: 10px;       
    background-color: #f9fff9;  
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); 
}


footer {
    background-color: #c88e83;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer .logo-footer {
    width: 30px;  
    height: auto;
    transition: transform 0.3s ease;
}

footer .logo-footer:hover {
    transform: scale(1.2) rotate(10deg); 
}